﻿@model PetStore.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="py-5 mt-5 container">
    <h3>Add New Animal</h3>
    <hr />
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input type="file" asp-for="ImageFile" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    @*  <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="isBought" /> @Html.DisplayNameFor(model => model.isBought)
            </label>
        </div>*@
                    <div class="form-group col-4">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="StoreBranchId" class="control-label"></label>
                        <select asp-for="StoreBranchId" class="form-control" asp-items="ViewBag.StoreBranchId"></select>
                        <span asp-validation-for="StoreBranchId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Index" style="color: black">Back to List</a>
                    </div>
                    <div class="form-group col-4">
                        <input type="submit" value="Create" class="btn btn-dark w-50" />
                    </div>
                </div>
            </form>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
