﻿@model IEnumerable<PetStore.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/sale-page.css" rel="stylesheet" />
<link href="~/css/general.css" rel="stylesheet" />

<div class="box-shadow mt-5 search-bar">
    <div class="py-2 my-3 px-5">
        <div class="row d-flex align-items-center">
            <h3 class="col-2" style="color: #ad4c4c">Animals</h3>
            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
            {
                <a class="btn col-2 h-25 natural-btn" asp-action="Create">Create New</a>
            }
        </div>
        <form asp-action="Search">
            <div class="form-group w-50 d-flex align-items-center justify-content-between">
                <label for="priceRange">Filter By Price</label>
                <input id="priceRange" name="price" type="range" value="@((Model.ToList().Count > 0) ? Model.Max(i => i.Price) : 0)"
                       max="@((Model.ToList().Count > 0) ? Model.Max(i => i.Price) : 0)" class="form-control-range w-50 custom-range" onchange="updateRange(this.value)">
                <span><p id="rangeVal" class="m-0"></p></span>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script type="text/javascript">
                    function updateRange(val) {
                        document.getElementById('rangeVal').innerHTML = val + "$";
                    }

                    function getMaxVal() {
                        $.ajax({
                            type: "GET",
                            url: '/Animals/GetAll',
                            async: false,
                            success: function (res) {
                                const a = Math.max.apply(Math, res.map(i => i.price));
                                document.getElementById('priceRange').value = !document.getElementById('priceRange').value ? a : document.getElementById('priceRange').value;
                                document.getElementById('rangeVal').innerHTML = document.getElementById('priceRange').value + "$";
                                document.getElementById('priceRange').max = a;
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        });
                    }

                    getMaxVal();
                </script>
            </div>
            <div class="form-group w-75 d-flex align-items-center justify-content-between">
                <select class="form-control w-25" name="gender" id="genderSelection">
                    <option value="0">Gender</option>
                    <option value="@Gender.M">Male</option>
                    <option value="@Gender.N">Female</option>
                </select>
                <script>
                    var genderSelectionInput = document.getElementById('genderSelection');
                    if (localStorage['genderSelection']) {
                        genderSelectionInput.value = localStorage['genderSelection'];
                    }
                    genderSelectionInput.onchange = function () {
                        localStorage['genderSelection'] = genderSelectionInput.value;
                    }
                </script>
                <input name="name" class="form-control w-50" type="text" placeholder="Search By Animal Name" id="animalName">
                <input type="submit" value="Search" class="btn natural-btn" id="searchBtn" />
                <input type="submit" value="Clear" class="btn natural-btn mr-5" id="clearSearchBtn"
                       onclick="resetSearch()" />
                <script>
                    function resetSearch() {
                        document.getElementById('genderSelection').selectedIndex = 0
                        localStorage['genderSelection'] = document.getElementById('genderSelection').selectedIndex;
                        document.getElementById('searchBtn').click();


                        function getFinalMaxVal() {
                            $.ajax({
                                type: "GET",
                                url: '/Animals/GetAll',
                                async: false,
                                success: function (res) {
                                    const a = Math.max.apply(Math, res.map(i => i.price));
                                    document.getElementById('priceRange').value = a;
                                    document.getElementById('rangeVal').innerHTML = document.getElementById('priceRange').value + "$";
                                    document.getElementById('priceRange').max = a;
                                },
                                error: function (err) {
                                    console.log(err)
                                }
                            });
                        }

                        getFinalMaxVal();
                    }
                </script>
            </div>
        </form>
    </div>
</div>
<div class="px-5">
    @if (Model.ToList().Count > 0)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-header natural-btn">
                            <div class="row justify-content-between px-3">
                                <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin") && item.OrderId != null)
                                {
                                    <p class="card-text mb-1" style="color: #50fd17">sold</p>
                                }
                            </div>
                        </div>
                        @if (item.Image != null)
                        {
                            string img = Convert.ToBase64String(item.Image);
                            <img src="data:image/png;base64,@img" style="height: 10rem;" class="card-img-top">
                        }
                        <p class="card-text mb-1 mx-1" style="height: 5rem; overflow-y: auto">@Html.DisplayFor(modelItem => item.Description)</p>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
                        {
                            <p class="card-text mb-1 mx-1" style="height: 2rem; overflow-y: auto">storeBranchId: @Html.DisplayFor(modelItem => item.StoreBranchId)</p>
                        }
                        <div class="card-body py-2">
                            <div class="row">
                                <span class="col-md-4 align-self-center">
                                    <p class="card-text">
                                        @Html.DisplayFor(modelItem => item.Price)$
                                    </p>
                                </span>

                                @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                                {
                                    @if (Context.User.IsInRole("Admin"))
                                    {
                                        <span class="row col-12 col-md-8">
                                            <span class="col-6">
                                                <a class="btn natural-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            </span>
                                            <span class="col-6">
                                                <a class="btn natural-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="col-md-8 align-self-center pl-4 pr-1">
                                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-type="@CartItem.CartItemType.ANIMAL" class="btn natural-btn w-100">Add to cart</a>
                                        </span>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div> no animals</div>
    }
</div>