﻿.natural-btn {
    background-color: #ad4c4c;
    color: white;
    border-color: #ad4c4c;
}

.green-blue-backgroung-color {
    background-color: #0c5460;
}

.white-text {
    color: white;
}

.scrollable-table {
    max-height: 50vh;
    overflow-y: auto;
}

.table-header {
    text-align: center;
}