﻿.search-bar {
    background-color: white;
    border-top-style: solid;
    border-top-color: lightcyan;
    border-top-width: thin;
}

.custom-range::-webkit-slider-thumb {
    background: #ad4c4c;
}

.custom-range::-moz-range-thumb {
    background: #ad4c4c;
}

.custom-range::-ms-thumb {
    background: #ad4c4c;
}