﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Our css */

@font-face {
    font-family: ShadowsIntoLight;
    src: url(./ShadowsIntoLight-Regular.ttf);
}

.main-titles {
    font-family: ShadowsIntoLight;
    column-count: 3;
    column-rule: 1px solid #717171;
    text-align: center;
    font-size: 18px;
    margin: 80px 0px 40px 0px;
    color: #717171;
}

.tweet-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tweet-us-text {
    margin-right: 5px;
    text-shadow: 1px 1px 2px grey;
    margin-bottom: 0px;
}

.tweet-us-submit-button {
    width: 5vw;
    height: 3.5vh;
    background-color: rgb(240,240,240);
    border: none;
    padding-bottom: 3.5vh;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out
}

.tweet-us-submit-button:hover {
    background-color: rgb(220,220,220);
}