﻿@model PetStore.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div class="py-5 mt-5 container">
    <h3>Order Details</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice)$
            </dd>
        </dl>
        <table class="table">
        <thead>
            <tr>
                <th style="width: 350px;"></th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrderItems)
            {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        string img = Convert.ToBase64String(item.Image);
                        <img src="data:image/png;base64,@img" style="height: 10rem; width: 12rem;">
                    }
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @if (item.Quantity != null)
                    {
                        @item.Quantity
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" style="color: black">Back to List</a>
    </div>
</div>
