﻿
@{
    ViewData["Title"] = "index";
}

<link href="~/css/general.css" rel="stylesheet" />
<link href="~/css/cart.css" rel="stylesheet" />

<div class="py-5 mt-4 container">
    @if (ViewBag.countProducts > 0)
    {
        <h3 class="pb-3" style="color: #ad4c4c">My Shopping Bag</h3>
        <div class="row justify-content-between">
            <div class="col-6" style="max-height: 70vh; overflow-y: auto;">
                @foreach (var item in ViewBag.cart)
                {
                    <div class="mb-1 border-bottom">
                        <div class="row pb-2">
                            <div class="col-4">
                                @if (item.Product.Image != null)
                                {
                                    string img = Convert.ToBase64String(item.Product.Image);
                                    <img src="data:image/png;base64,@img" style="height: 10rem; width: 12rem;" class="card-img-top">
                                }
                            </div>
                            <div class="col-8 pl-5">
                                <div class="h-75">
                                    <div class="row col-4">
                                        <h5 class="col-2">@item.Product.Name</h5>
                                    </div>
                                    @if (@item.Type != CartItem.CartItemType.ANIMAL)
                                    {
                                        <div class="row col-12 pt-1">
                                            <p class="col-6">quantity: </p>
                                            <a class="btn btn-sm btn-block col-2" style="font-weight: bold" asp-area="" asp-controller="Cart" asp-action="Reduce" asp-route-id="@item.Product.Id" asp-route-type="@item.Type">-</a>
                                            <span> @item.Quantity </span>
                                            <a class="btn btn-sm btn-block col-2" style="font-weight: bold" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Product.Id" asp-route-type="@item.Type">+</a>
                                        </div>
                                    }
                                </div>
                                <div class="row justify-content-between col-12">
                                    <h6 class="col-3 align-self-center">@item.Product.Price$</h6>
                                    <span class="col-3">
                                        <a class="btn natural-btn" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" asp-route-type="@item.Type">
                                            remove
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item" style="background-color: #ffffff70;">Total: @ViewBag.total$</li>
                </ul>
                <a class="btn natural-btn btn-lg btn-block" asp-controller="Orders" asp-action="CreateOrder">
                    Place order
                </a>
            </div>
        </div>
    }
    else
    {
        <div style="text-align-last: center;">
            <img src="~/Images/emptyCartNoBackGround.png" width="350" height="400">
            <aside style="font-size: 2rem; font-weight: 800;"> your cart is empty ): </aside>
        </div>
    }

</div>