﻿@model PetStore.Models.StoreBranch

@{
    ViewData["Title"] = "Edit";
}

<div class="py-5 mt-5 container">
    <h3>Edit Store Branch</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LatitudeCoord" class="control-label"></label>
                    <input asp-for="LatitudeCoord" class="form-control" />
                    <span asp-validation-for="LatitudeCoord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LongtitudeCoord" class="control-label"></label>
                    <input asp-for="LongtitudeCoord" class="form-control" />
                    <span asp-validation-for="LongtitudeCoord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark w-50" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" style="color: black">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
