﻿@model IEnumerable<PetStore.Models.StoreBranch>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="py-5 mt-5 container">
        <div class="row mb-5">
            <h3 class="col-4">Store Branches Display</h3>
            <a class="btn col-2 h-25 btn-dark" asp-action="Create">Create New</a>
        </div>
        <form asp-action="Search">
            <div class="form-group w-50 d-flex align-items-center justify-content-between">
                <input name="name" class="form-control w-75" type="text" placeholder="Name">
                <input type="submit" value="Search" class="btn btn-dark" id="searchBtn" />
            </div>
        </form>
        <div class="scrollable-table">
            <table class="table table-dark table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LatitudeCoord)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LongtitudeCoord)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LatitudeCoord)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LongtitudeCoord)
                            </td>
                            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="white-text">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="white-text">Delete</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id" class="white-text">Details</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="white-text">Details</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>