﻿@model PetStore.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<h1>Access Denied</h1>

<h4>401 Unauthorized</h4>
<hr />
<div>
    <a asp-action="Logout">Click here</a> to signin using a different user
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
