﻿@model PetStore.Models.User

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="py-5 mt-5 container">
    <h3>Create New User</h3>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-5">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value=true checked="checked" name="isManager" />Is Manager
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row col-5 align-self-center">
                <div class="form-group col-6">
                    <input type="submit" value="Create" class="btn btn-dark w-100" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index" style="color: black">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
