﻿@model PetStore.Models.User

@{
    ViewData["Title"] = "Delete";
}

<div class="py-5 mt-5 container">
    <h3>Are you sure you want to delete this user?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="color: black">Back to List</a>
    </form>
</div>
