﻿@model IEnumerable<PetStore.Models.User>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="py-5 mt-5 container">
    <div class="row mb-5">
        <h3 class="col-2">User Display</h3>
        <a class="btn col-2 h-25 btn-dark" asp-action="Create">Create New</a>
    </div>
        <form asp-action="Search">
            <div class="form-group w-50 d-flex align-items-center justify-content-between">
                <input name="fullName" class="form-control w-75" type="text" placeholder="Full Name">
                <input type="submit" value="Search" class="btn btn-dark" id="searchBtn" />
            </div>
        </form>
        <div class="scrollable-table">
            <table class="table table-dark table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UserName" class="white-text">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.UserName" class="white-text">Delete</a> |
                                <a asp-action="Details" asp-route-id="@item.UserName" class="white-text">Details</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UserName" class="white-text">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.UserName" class="white-text">Details</a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
