﻿@model PetStore.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<style type="text/css">
    body {
        background-image: url('../../Images/JungleBackground.jpg');
        overflow-y: hidden;
        color: #273825;
    }
</style>


<div class="w-100 h-100 pt-5 mt-5 d-flex" style="place-content: center;">
    <div style="background-color: rgb(255, 255, 255, 0.7)" class="w-50">
        <h1 class="row justify-content-md-center pt-4" style="color: #fd5353">Welcome to Pet Store</h1>
        <h5 class="row justify-content-md-center" style="color: #5f8530">please login to start your shopping journey</h5>
        <hr />
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-4">
                        <input type="submit" value="Login" class="btn btn-primary col-md-12" style="background-color: #759935; border-color: #759935"/>
                    </div>
                </form>
                @if (ViewBag.Error != null)
                {
                    <div class="text-danger">@ViewBag.Error</div>
                }
            </div>
        </div>
        <hr />
        <div class="row justify-content-md-center pb-4 pt-3">
            <p class="mr-1">Not signed up?</p> <a asp-action="Register" style="color: #759935"> register</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
