﻿@model PetStore.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}


<style type="text/css">
    body {
        background-image: url('../../Images/JungleBackground.jpg');
        overflow-y: hidden;
        color: #273825;
    }
</style>

<div class="w-100 h-100 pt-5 d-flex" style="place-content: center;">
    <div style="background-color: rgb(255, 255, 255, 0.7)" class="w-50">
        <h1 class="row justify-content-md-center pt-4" style="color: #fd5353">Register to Pet Store</h1>
        <h5 class="row justify-content-md-center" style="color: #5f8530">fill the details below and discover the wild shopping life</h5>
        <hr />
        <div>
            <div>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label">User Name</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label">Full Name</label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="form-group col-md-10 pt-2">
                            <input type="submit" value="Sign up" class="btn btn-primary w-100" style="background-color: #759935; border-color: #759935" />
                        </div>
                    </div>
                </form>
                @if (ViewBag.Error != null)
                {
                    <div class="text-danger">@ViewBag.Error</div>
                }
            </div>
        </div>
        <hr />
        <div class="row justify-content-md-center pb-3 pt-2">
            <p class="mr-1">Already signed up?</p> <a asp-action="Login" style="color: #759935"> log in</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
