﻿
@{
    ViewData["Title"] = "Admin";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="px-5 py-5 mt-4">
    <div class="row">
        <div class="col-md-8 order-md-1">
            <div class="mb-4">
                <h4 style="color: #0c5460">Pet Store Managment</h4>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="Users" asp-action="Index">Users</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.UsersCount</span>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="StoreBranches" asp-action="Index">Stores Branches</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.StoreBranchesCount</span>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="Orders" asp-action="Index">Orders</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.OrdersCount</span>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="Animals" asp-action="Index">Animals</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.AnimalsCount</span>
            </div>
            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="Foods" asp-action="Index">Foods</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.FoodsCount</span>
            </div>

            <div>
                <a class="btn btn-secondary btn-lg natural-btn mb-2" asp-controller="AnimalTypes" asp-action="Index">AnimalTypes</a>
                <span class="badge badge-info green-blue-backgroung-color">@ViewBag.AnimalTypesCount</span>
            </div>
        </div>
    </div>
</div>

