﻿@{ ViewData["Title"] = "Statistics"; }


<div class="py-5 mt-5 container">
    <div class="row justify-content-center mb-4">
        <button type="button" class="btn btn-dark col-4 mr-3" id="showAnimal">
            Average price of animal by type
        </button>
        <button type="button" class="btn btn-dark col-4 ml-3" id="showBranch">
            Orders amount by store branch
        </button>
    </div>

    <style type="text/css">
        .animalsStatistics {
            display: none;
        }

        .branchesStatistics {
            display: none;
        }
    </style>

    <div class="stat-chart animalsStatistics row justify-content-center" style=" text-align: center;" id="animals">
        @*        <h3>Average price of animal by type</h3><br />
        *@        <h5>This chart compares animal types according to their average price.</h5>
        <div id="tooltip-bar"></div>
        <div class="bar"></div>
    </div>
    <div class="stat-chart branchesStatistics row justify-content-center" style=" text-align: center;" id="branches">
        @*        <h3>Orders amount by store branch</h3><br />
        *@        <h5>This pie diagram represents the distribution of orders according to their animal's storebranch.</h5>
        <div id="tooltip-pie"></div>
        <div class="pie"></div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

    function drawBarChart(data) {
        // Define css for the graph.
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 960 - margin.left - margin.right,
            height = 600 - margin.top - margin.bottom;

        // Set the ranges of scales.
        var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
        var y = d3.scaleLinear()
            .range([height, 0]);

        // Get 10 colors from palette.
        var color = d3.schemeCategory10;

        // Append the svg object to the body of the page.
        // Append a 'group' element to 'svg'.
        // Moves the 'group' element to the top left margin.
        var svg = d3.select(".bar").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

        // Scaling the ranges for the data.
        x.domain(data.map(function (d) { return d.animalType; }));
        y.domain([0, d3.max(data, function (d) { return d.avg; })]);

        // Append the rectangles for the bars.
        svg.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.animalType); })
            .attr("width", x.bandwidth())
            .attr("y", function (d) { return y(d.avg); })
            .attr("height", function (d) { return height - y(d.avg); })
            .attr('fill', function (d, i) { return color[i]; })
            .on("mouseover", function (d) {
                d3.select('#tooltip-bar')
                .style("visibility", "visible")
                 .text('type ' + d.animalType + ' avg: ' + d.avg);
            })
            .on("mousemove", function () {
                d3.select('#tooltip-bar')
                    .style("top", (event.pageY - 10) + "px")
                    .style("left", (event.pageX + 10) + "px");
            })
            .on("mouseout", function () {
                d3.select('#tooltip-bar')
                    .style("visibility", "hidden");
            });

        // Add x Axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // Add y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(y).ticks(3))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "-35px")
            .text("Avg price");
    }

    function drawPieChart(data) {

        // Defing height and width to the pie.
        var h = 300;
        var w = 300;

        // Define inner and outer radius for the pie.
        var innerRadius = w / 4;
        var outerRadius = w / 2;

        // Generate pie as function to be called.
        var pie = d3.pie().value(function (d) {
            return d.ordersCount;
        });

        // Creating color scheme, generates 10 scale ordnal.
        var color = d3.schemeCategory10;

        // Will be used to generate the path attribute.
        var arc = d3.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);

        // Create the svg canvas.
        var svg = d3.select('.pie')
            .append('svg')
            .attr('width', w)
            .attr('height', h);

        // Set up groups of arcs.
        var arcs = svg.selectAll('g.arc')
            .data(pie(data))
            .enter()
            .append('g')
            .attr('class', 'arc')
            .attr('transform', 'translate(' + outerRadius + ', ' + outerRadius + ')')
            .on("mouseover", function (d) {
                d3.select('#tooltip-pie')
                    .style("visibility", "visible")
                    .text('Orders count of store branch: ' + d.data.storeBranchName);
            })
            .on("mousemove", function () {
                d3.select('#tooltip-pie')
                    .style("top", (event.pageY - 10) + "px")
                    .style("left", (event.pageX + 10) + "px");
            })
            .on("mouseout", function () {
                d3.select('#tooltip-pie')
                    .style("visibility", "hidden");
            });

        // Add path to groups.
        arcs.append('path')
            .attr('fill', function (d, i) {
                return color[i];
            })
            .attr('d', arc);

        // Append text.
        arcs.append('text')
            .attr("transform", function (d) {
                return "translate(" + arc.centroid(d) + ")"; // Getting the center point of the shape.
            })
            .attr("text-anchor", "middle")
            .text(function (d) {
                return d.value;
            });

    }

    // Draws the graphs according to the data from the controller.
    drawBarChart(JSON.parse('@Html.Raw(ViewBag.avgPriceByTypeData)'));
    drawPieChart(JSON.parse('@Html.Raw(ViewBag.ordersByStoreBranchData)'));
    </script>
    <script>
        document.getElementById('showAnimal').onclick = function () {
            $(".animalsStatistics").css("display", "block");
            $(".branchesStatistics").css("display", "none");
        }

        document.getElementById('showBranch').onclick = function () {
            $(".branchesStatistics").css("display", "block");
            $(".animalsStatistics").css("display", "none");
        }
    </script>
</div>