﻿@model PetStore.Models.AnimalType

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/general.css" rel="stylesheet" />

<div class="py-5 mt-5 container">
    <h3>Create New Animal Type</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark w-50" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" style="color: black">Back to List</a>
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@ViewBag.Error</div>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
