﻿@model PetStore.Models.AnimalType

@{
    ViewData["Title"] = "Details";
}

<div class="py-5 mt-5 container">
    <h3>Animal Type Details</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" style="color: black">Edit</a> |
        <a asp-action="Index" style="color: black">Back to List</a>
    </div>
</div>