﻿@model PetStore.Models.Comment
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center container">
        <section class="main-titles">
            <div>Pets</div>
            <div>Food</div>
            <div>Love</div>
        </section>
        <section class="row" style="display: flex; justify-content: center; margin-bottom: 5vh">
            <div class="col-10">
                <video controls style="width: inherit">
                    <source src="~/Content/Videos/HomepageVideo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>
        <section class="row">
            <div class="col-4 container" style="height: inherit">
                <div id="bingMap" class="row" style="position: relative; height: inherit; width: inherit"></div>
            </div>
            <div class="col-8" style="max-height: 50vh">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="form-control tweet-us-container">
                        <label class="label-primary tweet-us-text">
                            Tweet Us:
                        </label>
                        @Html.TextBoxFor(m => m.text, new { Style= "border-width: 1px; border-right: none; border-left: none; border-top: none; outline: none!important; text-overflow: ellipsis" })
                        <input type="submit" value="Submit" class="form-control tweet-us-submit-button" />
                    </div>
                }
                <a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/ColmanPetstore?ref_src=twsrc%5Etfw">Tweets by ColmanPetstore</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </section>



        <script type="text/javascript"
                src="https://www.bing.com/api/maps/mapcontrol?callback=bingMapCallback&key=8jdU9kPTCEzVmyT3jRkU~rm3ZVd7SbAdEPp8lygIm8A~AuLnSHivAFETHCaowja_dJ75w4ff92UyxgW5RNfOMUaAVfTUeYeCj5oKEzjm4ItE&setLang=en"
                async
                defer>
        </script>
        <script type="text/javascript">
            function bingMapCallback() {
                var map = new Microsoft.Maps.Map(document.getElementById("bingMap"), {
                    credentials: '8jdU9kPTCEzVmyT3jRkU~rm3ZVd7SbAdEPp8lygIm8A~AuLnSHivAFETHCaowja_dJ75w4ff92UyxgW5RNfOMUaAVfTUeYeCj5oKEzjm4ItE',
                    center: new Microsoft.Maps.Location(32, 34.8),
                    zoom: 7,
                });

                // Add an infobox to the map so that we can display it when a store branch is clicked.
                infobox = new Microsoft.Maps.Infobox(map.getCenter(), { visible: false });
                infobox.setMap(map);

                // Load store branches in order to put them on map.
                $.ajax({
                    type: "GET",
                    url: "/StoreBranches/GetBranchCoords",
                    success: function (res) {
                        res && res.forEach(data => {
                            // Create the point pushpin of the current branch
                            var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(data.latitudeCoord, data.longtitudeCoord), { title: `סניף ${data.name}` });

                            // Define the click event of the point
                            Microsoft.Maps.Events.addHandler(pushpin, 'click', function (e) {
                                $.ajax({
                                    type: "GET",
                                    url: "https://api.openweathermap.org/data/2.5/weather?units=metric&lat=" + e.target.geometry.y + "&lon=" + e.target.geometry.x + "&appid=a963d1987529a37f321c0d07be5d6d45",
                                    success: function (temperature) {
                                        weatherText = temperature.main.temp;
                                        const temperatureTextMap = {
                                            hot: "Don't forget your pet in the car!",
                                            warm: "Bring some water with you!",
                                            mild: "Great weather for a walk!",
                                            chilly: "Don't forget a jacket",
                                            cold: "Make sure your pet stays warm!"
                                        }
                                        let fullDescriptionText = `<div>The temprature is ${weatherText} °C</div><div>${weatherText > 30 ? temperatureTextMap.hot : weatherText > 25 ? temperatureTextMap.warm : weatherText > 18 ? temperatureTextMap.mild : weatherText > 10 ? temperatureTextMap.chilly : temperatureTextMap.cold}</div>`;
                                        infobox.setOptions({
                                            location: e.primitive.getLocation(),
                                            description: fullDescriptionText,
                                            visible: true
                                        });
                                    }
                                })
                            });

                            // Add the pushpin point to the map
                            map.entities.push(pushpin);
                        });
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }
        </script>
    </div>
